html, body {
    width: 100%;
    min-width: 1400px;
}

.title {
    width: 100%;
    height: 60px;
    box-shadow: 0 5px 10px #E1E1E8;
}

.logo {
    margin: 10px 0 0 100px;
}

.title-p {
    display: inline-block;
    line-height: 60px;
    vertical-align: top;
}

.logoin {
    float: right;
    margin-right: 100px;
    margin-top: 15px;
}

.wrap {
    width: 100%;
    min-height: 772px;
    border-top: 1px solid white;
}

.jump {
    float: right;
    margin: 20px 20px 0 0;
}

.jump > p {
    width: 90px;
    height: 35px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    color: white;
    cursor: pointer;
}

.jump > p:hover {
    opacity: 0.8;
}

.jump > p:nth-child(1) {
    background: #BC1119;
}

.jump > p:nth-child(2) {
    background: #2CC6F5;
}

#div2 {
    width: 850px;
    height: 375px;
    margin: 0 auto;
    margin-top: 90px;
    position: relative;
}

#div2 > img {
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#div2 > div {
    width: 101%;
    position: absolute;
    bottom: 0;
}

 .ch-btn, .en-btn {
    width: 120px;
    height: 45px;
    display: inline-block;
    margin: 0;
}
.bibliography, .field{
    width: auto;
    height: 45px;
    padding: 0 2%;
    margin: 0;
}
.bibliography>option, .field>option{
    text-align:center;
}
.ch-btn, .en-btn {
    text-align: center;
}

.field {
    border-radius: 4px 0 0 4px;
}

#div2 > div > input {
    width: 335px;
    height: 35px;
    margin: 0;
    border-left: none;
    border-right: none;
    margin-left: -4.5px;
    font-size: 18px;
    border-radius: 0;
}
/*百度搜索logo图标*/
.bdsug_copy{
    display: none;
}
.en-btn, .ch-btn {
    height: 43px;
    vertical-align: top;
    line-height: 45px;
    cursor: pointer;
}

.ch-btn {
    border: 1px solid #C0C0C0;
    margin-left: -6px;
    background: #F8A506;
    color: white;
    border-radius: 0 4px 4px 0;
}

.en-btn {
    border: 1px solid #C0C0C0;
    background: #EEEEEE;
    border-radius: 4px;
}

.en-btn:hover, .ch-btn:hover {
    opacity: 0.8;
}

.foot {
    width: 100%;
    height: 95px;
    background: #EEEEEE;
    padding-top: 45px;
}

.foot > p {
    line-height: 28px;
    text-align: center;
}

#div1 {
    position: relative;
    width: 400px;
    height: 400px;
    float: left;
}

#div1 a {
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Microsoft YaHei;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    padding: 3px 6px;
}

#div1 a:hover {
    color: #fbd335;
    text-decoration: underline;
}
/*高级检索*/
.modal1{
    width: 890px;
    height: 700px;
    left: 40%;
    display: none;
}
.modal1-header{
    height: 41px;
    background: #2cc6f5;
    border-radius: 4px 4px 0 0;
    color: white;
    font-size: 24px;
}
#myModalLabel{
    line-height: 41px;
}
.close{
    opacity: 1;
}
.name{
    width: 100%;
    height: 25px;
    line-height: 25px;
    box-sizing: border-box;
    padding-left: 160px;
}
#name{
    width: 245px;
    height: 15px;
    margin-right: 20px;
    margin-bottom: 0;
}
.name>span{
    cursor: pointer;
    color: red;
}
.name>span:hover{
    border-bottom: 1px solid red;
}
.modal1-body{
    height: 610px;
    min-height: 610px;
}
.literature{
    width: 100%;
    margin: 10px 0;
}
.literature label{
    display: inline-block;
    line-height: 25px;
    margin-right: 20px;
}
.literature input{
    margin: 0;
}
.top{
    width: 100%;
}
.top-le{
    width: 240px;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    line-height: 25px;
}
.top-ri{
    width: 560px;
    display: inline-block;
}
.clickp{
    display:inline-block;
    cursor:pointer;
    margin: 5px 20px 5px 0;
    font-size:14px;
}
.bottom{
    width: 570px;
    margin-left: 240px;
}
.bottom>ul>span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #CCCCCC;
    line-height: 20px;
    text-align: center;
    color: #2CC6F5;
    font-size: 24px;
    cursor: pointer;
}
.bottom>ul>span:hover{
    opacity: 0.8;
}
.bottom>.input1-1{
    width: 95px;
    height: 15px;
    vertical-align: top;
    margin-left: 10px;
}
.bottom>.input1-2{
    width: 250px;
    height: 15px;
    vertical-align: top;
    margin: 0 20px 0 10px;
}
.bottom>.input1-3{
    width: 75px;
    height: 15px;
    vertical-align: top;
}
.bottom select{
    padding: 0;
    height: 25px;
    display: inline-block;
}
.bottom>input{
    height: 15px;
}
.bottom>ul>li:nth-child(3){
    width: 505px!important;
    display: inline-block!important;
    margin-left: 11px!important;
    margin-top: 0px!important;
    vertical-align: top!important;
}
.bottom>ul>li{
    margin-top: 10px;
}
.sel1{
    width: 50px;
    margin-right: 10px;
}
.sel2{
    width: 109px;
}
.bottom>ul>li>.txt{
    width: 250px;
    height: 15px;
    margin: 0 20px 0 10px;
}
.sel3{
    width: 89px;
}
.datap{
    width: 240px;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
}
.data{
    width: 570px;
    min-height: 160px;
    border: 1px solid #CCCCCC;
    display: inline-block;
    margin-top: 10px;
}
.data label{
    margin: 0 5px;
}
.data label input{
    margin-left: 3px;
}
.language{
    text-indent: 187px;
    margin: 10px 0;
}
.language select{
    padding: 0;
    height: 25px;
}
#language{
    width: 93px;
}
#member{
    width: 240px;
}
.yesear{
    margin: 10px 0;
    text-indent: 187px;
}
#startmember, #endmember{
    width: 93px;
    height: 25px;
    padding: 0;
    font-size: 14px;
}
.datanumber{
    padding-left: 123px;
    box-sizing: border-box;
}
.datanumber>label{
    margin: 0;
}
.display{
    padding-left: 170px;
    box-sizing: border-box;
}
.display>label{
    margin: 0;
}
.btns{
    width: 270px;
    height: 40px;
    margin: 45px auto 0 auto;
}
#searchbtn,#returnbtn,#modify{
    width: 120px;
    height: 40px;
    background: #07B6E6;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    color: white;
    font-size: 18px;
    vertical-align: top;
    cursor: pointer;
}
#searchbtn:hover, #returnbtn:hover{
    opacity: 0.7;
}
#searchbtn{
    background: #fe0100;
}
select{
    margin:0;
}
.bottom > ul > li > select {
    margin-bottom: 0;
}